



<!-- wishlist Content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Posts</li>
            </ol>
        </div>
    </nav>
</div>
<section class="pro-content wishlist-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    My Posts
                </h1>
            </div>
        </div>
        <div class="row">

            {{>profile_menu}}




            <div class="col-12 col-lg-9 ">


                {{#if (greater_than_zero bookCount)}}

                    {{#each books}}

                        <div class="media">
                            <div class="media-thumb">
                                <img class="img-fluid" src="{{ this.mainpicURL}}" alt="Product Image">
                            </div>

                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <h2><a href="/search/book?id={{ this._id }}">{{ this.title }}</a></h2>
                                        <div class="pro-price">
                                            <ins>${{ this.price }}</ins>
                                        </div>


                                        {{#unless (equal_strings this.bookAuthor "")}}
                                        <p class="d-none d-lg-block d-xl-block">Author: {{ this.bookAuthor }}</p>
                                        {{/unless}}

                                        <p class="d-none d-lg-block d-xl-block">{{ this.description }}</p>
                                        <div class="buttons">
                                            <div class="input-group item-quantity">


                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 detail">

                                        <div class="share"><a href="/editbook?id={{ this._id }}">Edit &nbsp;<i class="fas fa-share"></i></a> </div>
                                        <div class="share"><a href="/profile/delete?id={{ this._id }}">Delete &nbsp;<i class="fas fa-trash-alt"></i></a> </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr class="border-line">



                    {{/each}}

                {{ else }}

                    <p>You don't have any items up yet!</p>

                {{/if}}




                <!--
                <div class="pagination justify-content-between ">

                    <label  class="col-form-label">Showing 1&ndash;<span class="showing_record">1</span>&nbsp;of&nbsp;<span class="showing_total_record">{{ bookCount }}</span>&nbsp;results.</label>

                    <div class="col-12 col-sm-6">
                        <ol class="loader-page">
                            <li class="loader-page-item"><a href="#">
                                <i class="fa fa-angle-double-left" style="font-size:12px"></i></a>
                            </li>
                            <li  class="loader-page-item"><a href="#">1</a></li>
                            <li  class="loader-page-item"><a href="#">2</a></li>
                            <li  class="loader-page-item"><a href="#">3</a></li>
                            <li  class="loader-page-item"><a href="#">4</a></li>
                            <li  class="loader-page-item"><a href="#">
                                <i class="fa fa-angle-double-right" style="font-size:12px"></i></a>
                            </li>
                        </ol>
                    </div>
                </div>
                -->
                <!-- ............the end..... -->
            </div>
        </div>
    </div>
</section>





