<!-- Products content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search {{ title }}</li>
            </ol>
        </div>
    </nav>
</div>



<section class="pro-content shop-content shop-special">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1> {{! 'title' will be the search query entered by the user. If we search for all books, then it will be null, and it will just say results }}
                    Results: {{ title }}
                </h1>
            </div>
        </div>
        <div class="top-bar">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-2">
                            <div class="block">
                                <label>Display</label>
                                <div class="buttons">
                                    <a href="javascript:void(0);" id="grid_3column" class="fas fa-th-large active"></a>
                                    <a href="javascript:void(0);" id="list_3column" class="fas fa-list"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            {{!-- Left here so that spacing is even for the surrounding 2 elements --}}
                        </div>
                        <div class="col-12 col-lg-4">
                            <form class="form-inline justify-content-end">



                                <div class="form-group">
                                    <label>Items per page</label>
                                    <div class="select-control">
                                        {{#selectSelectedByID itemOnPageLimit}}
                                            <select class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                                                <option id="12" value="/search/1?query={{ userSearchedTerm }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}&limit=12">12</option>
                                                <option id="32" value="/search/1?query={{ userSearchedTerm }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}&limit=32">32</option>
                                                <!--<option value="/search/1?query={{ userSearchedTerm }}&subject={{ subject }}&limit=80">80</option>-->
                                            </select>
                                        {{/selectSelectedByID}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-lg-3  d-lg-block d-xl-block right-menu">

                {{!-- This dropdown menu, 'categories' will be populated dynamically from our json file in order to maintain scalability from our /json/upload-categories.json --}}
                <div class="accordion shop-bar-categories" >
                    <div class="card">
                        <div class="card-header" id="CardOne">
                            <a href="#collapseOne" class="subject-areas-dropdown-link accordian-header mb-0"  data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                Subject Areas
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="CardOne" data-parent="#accordionExample1">
                            <div class="card-body" id="all-categories-dropdown">

                                {{!-- CATEGORIES WILL BE DYNAMICALLY RENDERED HERE, function found in 'search-page.js --}}

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-12 col-lg-9">

                <div class="products-area">

                    <div class="row">
                        <div id="swap" class="col-12 col-sm-12">
                            <div class="row">


                                {{! If there was results for this particular search, then they will pop up here,
                                if not then we just display a message saying that no results were found}}
                                {{#if (greater_than_zero numOfBooks)}}

                                    {{#each array}}

                                    <div class="col-12 col-sm-6  col-lg-4">
                                        <div class="product">
                                            <article>


                                                <div class="pro-thumb ">


                                                    <a href="product-page1.html">
                                                        <span class="pro-image"><img class="img-fluid" src="{{ this.mainpicURL }}" alt="Product Image"></span>
                                                        <span class="pro-image-hover swipe-to-top  d-none d-lg-block d-xl-block"><img class="img-fluid" src="{{ this.mainpicURL }}" alt="Product Image"></span>
                                                    </a>
                                                    <div class="pro-buttons d-none d-lg-block d-xl-block">



                                                        <button type="button" class="btn btn-secondary btn-block swipe-to-top" >
                                                            <a style="color: white" href="/search/book?id={{ this._id }}">View</a>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div class="pro-description">
                                                  {{! could be used in the future/ just comment out
                                                  <span class="pro-info">
                                                      Ring Collectionaaa
                                                  </span>
                                                  }}
                                                    <h2 class="pro-title"><a href="/search/book?id={{ this._id }}">{{ this.title }}</a></h2>

                                                    <div class="pro-price">
                                                        <ins>${{ this.price }}</ins>
                                                    </div>
                                                    <div class="list2">

                                                        <div class="pro-options">
                                                            <div class="color-selection">

                                                                <h4>{{ this.description }}</h4>

                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="pro-mobile-buttons d-lg-none d-xl-none">
                                                        <button type="button" class="btn btn-secondary btn-block swipe-to-top" >
                                                            <a style="color: white" href="/search/book?id={{ this._id }}">View</a>
                                                        </button>


                                                    </div>

                                                </div>

                                            </article>
                                        </div>
                                    </div>
                                    {{/each}}
                                {{else}}
                                    <p style="padding: 0 36px">Sorry, no matches! As more users post items, more will become available for you</p>
                                {{/if}}

                            </div>
                        </div>
                    </div>
                </div>



                {{#if (greater_than_zero numOfBooks)}}
                    <div class="pagination justify-content-between ">


                    <label  class="col-form-label">Showing {{ lowerRange }}&ndash;<span class="showing_record">{{ upperRange }}</span>&nbsp;of&nbsp;<span class="showing_total_record">{{ numOfBooks }}</span>&nbsp;results.</label>

                    <div class="col-12 col-sm-6">

                        <ol class="loader-page">
                            {{# if hasPrevPage }}
                                <li class="loader-page-item "><a href="/search/1?query={{ title }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}&limit={{ itemOnPageLimit }}">
                                    <i class="fa fa-angle-double-left " style="font-size:12px"></i></a>
                                </li>


                                <li  class="loader-page-item "><a href="/search/{{ previouspage }}?query={{ userSearchedTerm }}&limit={{ itemOnPageLimit }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}">{{ previouspage }}</a></li>
                            {{/if}}

                            <li  class="loader-page-item "><a href="/search/{{ currentPageNumber }}?query={{ userSearchedTerm }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}&limit={{ itemOnPageLimit }}">{{ currentPageNumber }}</a></li>

                            {{# if hasNextPage }}
                                <li  class="loader-page-item "><a href="/search/{{ nextpage }}?query={{ userSearchedTerm }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}&limit={{ itemOnPageLimit }}">{{ nextpage }}</a></li>


                                <li  class="loader-page-item "><a href="/search/{{ numberOfPages }}?query={{ title }}&{{ turnSubjectAreaArrayIntoURLParameters subject }}&limit={{ itemOnPageLimit }}">
                                    <i class="fa fa-angle-double-right " style="font-size:12px"></i></a>
                                </li>
                            {{/if}}

                        </ol>
                    </div>
                </div>
                {{/if}}


            </div>
        </div>
    </div>
</section>


<script src="/js/search-page.js"></script>


